
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



*,
*::before,
*::after{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
    text-decoration:none;
    outline:none;
}
:root{
    /* backgroundcolor */
    --bg-white:#fff;

     /* text-color */
    --primary-text:#061738;
    --secondry-color:#60cd12;
    --light-color:#e2f6de;
    --dark-color:#03262c;
    --text-white:#fff;
    --text-gray:#dee2e6;
    --anchor-color:#007aff;

     /* fontfamily */
     
     font-family: "Oswald", sans-serif;

}

body,
html{
    font-family: "Oswald", sans-serif;
     font-weight:400;
    scroll-behavior: smooth;
    background-color: #EFEFEE;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin:0;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #303030;
}

h2 {
    color: var(--primary-text);
    font-size: 1.8rem;
    font-weight: 600;
   
}
h3 {
    color:#303030;
    font-size:32px;
    font-weight: 700;
}

h4{
    font-size:2.5rem;
    font-weight: 700;
    color:var(--primary-text);
}

h5{
  font-size: 1.8rem;
  font-weight: 600;
    color: var(--primary-text);
}

p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: var(--primary-text);
    margin-bottom: 2rem;
}

embed,
iframe,
img,
object{
    max-width:100%;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

a,
a:active,
a:focus,
a:hover,
button{
    text-decoration:none;
    outline:0;
}

li a {
    color:#303030;
    font-weight:900;
}



::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background:var(--text-white);
}

::-webkit-scrollbar-thumb{
    background:var(--secondry-color);
}

.main-btn{
    /* position:relative; */
    color:var(--bg-white);
    background:black;
     padding:1rem 3.5rem;
    font-weight: 600;
    margin-top:1.5rem;
    letter-spacing:0.2rem;
    display: inline-block;
}

section{
    /* padding:5rem 0; */
    padding-block: 2.9rem ;
    padding-inline: 2rem ;
}

.navbar-collapse{
    justify-content:space-between;
}


.main-btn a{
    color: #fff;
}





.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #000000;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}






.maintime_wrapper{
    margin-top: 1.5rem;
}
